<h2>Movies</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th class="align-middle" scope="col">Title</th>
      <th class="align-middle" scope="col">Genre</th>
      <th class="align-middle" scope="col">Rating</th>
      <th scope="col">
        <div class="dropdown">
          <button class="dropbtn">Sort &#x21e9</button>
            <div class="dropdown-content">
              <li><a class="dropdown-item" href="/movie/list-url-4">Title</a></li>
              <li><a class="dropdown-item" href="/movie/list-url-3">Genre</a></li>
              <li><a class="dropdown-item" href="/movie/list-url">Rating</a></li>
            </div>
        </div>
      </th>
      <th class="align-middle" scope="col"></th>
      <th class="align-middle" scope="col"></th>
    </tr>
  </thead>
  {{#each movies}}
    <tr scope="row">
      <td class="align-middle">{{this.title}}</td>
      <td class="align-middle">{{this.genre}}</td>
      <td class="align-middle">{{this.rating}}</td>
      <td>
        <a class="btn btn-info" href="/movie/{{this._id}}/details-url">See details</a>
      </td>
      <td>
        <a class="btn btn-secondary" href="/movie/{{this._id}}/edit-url">Edit Movie</a>
      </td>
      <td>
          <form action="/movie/{{this._id}}/delete-url" method="post">
              <button type="submit" class="btn btn-danger">Delete Movie</button>
          </form>
      </td>
    </tr>
    {{/each}}
    <tr>
      <td>
        <form action="/movie/create-url" method="get">
          <button type="submit" class="btn btn-primary">Add a Movie</button>
        </form>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
</table>